﻿@{
    ViewBag.Title = "About";
    ViewBag.Message = "Bleecker Street";
}
<h2>@ViewBag.Title.</h2>

<hr />

<h2>@ViewBag.Message.</h2>

<div class="row">
    <div class="col-md-6">
        <br />
        <br />
        <p>401 Bleecker Street and W. 11th Street</p>
        <p>New York, NY</p>
        <p>Tel.: 212.462.2572</p>
        <p>Store Hours: Sun-Th: 9:30am-11pm</p>
        <p>F-Sat: 9:30am-12am</p>
        <p>Website: <a href="http://www.magnoliabakery.com/">http://www.magnoliabakery.com/</a></p>
    </div>
    
    <div class="col-md-6">
        <img src="http://www.magnoliabakery.com/wp-content/uploads/2013/12/Magnolia-Bakery-BleeckerSt-Store.jpg" class="img-responsive" alt="Alternate Text" />
    </div>
</div>

<br />
<hr />
<br />

<p>In 1996, Magnolia Bakery opened its first location on a quiet street corner in the heart of New York City’s West Village. From its inception, Magnolia Bakery has been cherished for its classic American baked goods, vintage decor and warm, inviting atmosphere.</p>
<hr />
<p>In 2007, Magnolia Bakery’s original owner passed her oven mitts to Steve and Tyra Abrams. Together, the Abrams’ have thoughtfully expanded the bakery from its first West Village shop to locations worldwide. Today, Magnolia Bakery can be found in New York City, Los Angeles, Chicago, Honolulu, Mexico City, Seoul, Tokyo, Dubai, Abu Dhabi, Beirut, Kuwait City and Doha. For more information on Magnolia Bakery’s locations,</p>
<hr />
<p>In addition to our current locations, Magnolia Bakery is continuing to franchise internationally and will soon open in Saudi Arabia and Brazil.</p>
<hr />
<p>Patrons are also invited to place pickup orders for select products through our online store. We are also pleased to offer nationwide shipping for a variety of products, including freshly baked cupcakes, cookies, brownies and bars, as well as corporate gift packages and seasonal assortments.</p>
<hr />

