﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Magnolia Bakery</h1>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <br /><br />
            <p class="lead">In 1996, Magnolia Bakery opened its first location on a quiet street corner in the heart of New York City’s West Village. From its inception, Magnolia Bakery has been cherished for its classic American baked goods, vintage decor and warm, inviting atmosphere.</p>
        </div>
        <div class="col-md-8">
            <img src="http://www.magnoliabakery.com/wp-content/uploads/2015/11/MagnoliaBakery-CafeHawaii-store.jpg" alt="Alternate Text" />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>A little bit about us</h2>
        <p>
            Magnolia Bakery is a chain of bakeries founded in New York City. The first location opened in 1996 at 401 Bleecker Street, on the corner of West 11th Street in the West Village neighborhood of Manhattan. The bakery is known for its desserts, especially its cupcakes.
        </p>
        <a href="@Url.Action("About")">Learn More</a>
    </div>
    <div class="col-md-4">
        <h2>Menu Items</h2>
        <p>All of our baked goods are always baked fresh and ready to eat! Check them out!</p>
        <a href="@Url.Action("Menu")">Learn More</a>
    </div>
    <div class="col-md-4">
        <h2>Contact Us</h2>
        <p>Do you need to get in contact with us? Go ahead, ask us anything! We have people that can answer your important emails 24 hours a day and 7 days a week, all for your convinience.</p>
        <a href="@Url.Action("Contact")">Learn More</a>
    </div>
</div>