﻿
@{
    ViewBag.Title = "Menu";
}

<h2>Menu</h2>

<ul>
    @foreach (MagnoliaBakery.App_Data.MenuItem item in Model.Items)
    {
        <div>
            <hr />
            <h4>Item: @item.MenuTitle</h4>
            <img src="@item.MenuImage" />
            <h5>Description:</h5>
            <p>@item.MenuDescription</p>
            <p>Price: $@item.MenuPrice</p>
        </div>
    }
</ul>