﻿@model MagnoliaBakery.Models.FormInfoModel

@{
    ViewBag.Title = "RequestInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>FormResults</h2>

@if (Model != null)
{

    <p>
        Requested Information
    </p>

    <div>
        Name: @Model.Name
    </div>

    <div>
        Email: @Model.Email
    </div>

    <div>
        Information: @Model.Information
    </div>

}