﻿@{
    ViewBag.Title = "Leave us a comment!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Let us know how we are doing here!</h2>


<form action="SubmitInfo" method="post">
    <p>Name: @Html.TextBox("Name", null, htmlAttributes: new { @class = "form-control" })</p> 
    <p>Email: @Html.TextBox("Email", null, htmlAttributes: new { @class = "form-control" })</p>
    <p>Comment: @Html.TextBox("Comment", null, htmlAttributes: new { @class = "form-control" })</p>
    <hr />
    <h3>Validation</h3>
    <p>Name: @Html.TextBox("ValidName", null, htmlAttributes: new { @class = "form-control" })<span style="color:red;"><b>@Html.ValidationMessage("ValidName")</b></span></p>
    <p>Email: @Html.TextBox("ValidEmail", null, htmlAttributes: new { @class = "form-control" })<span style="color:red;"><b>@Html.ValidationMessage("ValidEmail")</b></span></p>
    <p>Age: @Html.TextBox("ValidAge", null, htmlAttributes: new { @class = "form-control" })<span style="color:red;"><b>@Html.ValidationMessage("ValidAge")</b></span></p>
    <p>Comment: @Html.TextBox("ValidComment", null, htmlAttributes: new { @class = "form-control" })<span style="color:red;"><b>@Html.ValidationMessage("ValidComment")</b></span></p>
    <input type="submit" value="Submit" class="btn btn-primary" />
</form>

