﻿@model MagnoliaBakery.Models.CommentModel

@{
    ViewBag.Title = "PostedComment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Here is what you want to say to us!</h2>

@if (Model != null)
{
    <h4><b>Requested Information: </b></h4>
    <hr />
    <p>Name: @Model.Name</p>
    <p>Email: @Model.Email</p>
    <p>Comment: @Model.Comment</p>
    <hr />
    <h4><b>But you can't because we do not want you to have that power!!!!!!!</b></h4>
    <hr />
    <h4>Validation</h4>
    <p>Name: @Model.ValidName</p>
    <p>Email: @Model.ValidEmail</p>
    <p>Age: @Model.ValidAge</p>
    <p>Comment: @Model.ValidComment</p>
}





